tqdm
numpy
pandas
statsmodels
scipy
scikit-learn
plotnine
pytest
pytest-watch
notebook
ipykernel
nbconvert<6
jupyterthemes
ipywidgets
jupyter_contrib_nbextensions
ipywidgets
django
djangorestframework
django-cors-headers
